 <h2 class="upgrade-itemd space-before mt-4 mb-4" style="color:yellow; font-size: 32px;">
            <b> Featured Today </b>
        </h2>
        <div>
            <div class="row">
                <div class="col mt-3">
                    <div class="card card-custom">
                        <img class="card-img-top" src="static/Bollywood.jpg" alt="Hollywood">
                        <div class="card-body">
                            <p class="lead text-center">Hollywood</p>
                            <p class="lead" >Top 10 Hollywood movies of all time</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card card-custom">
                        <img class="card-img-top" src="static/bollywood.jpg" alt="Bollywood">
                        <div class="card-body">
                            <p class="lead text-center">Bollywood</p>
                            <p class="lead" >Top 10 Bollywood movies of all time</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card card-custom">
                        <img class="card-img-top" src="static/tollywood.jpg" alt="Tollywood">
                        <div class="card-body">
                            <p class="lead text-center">Tollywood</p>
                            <p class="lead" >Top 10 Tollywood movies of all time</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card card-custom">
                        <img class="card-img-top" src="static/3-Pariyerum-Perumal.jpg" alt="Kollywood">
                        <div class="card-body">
                            <p class="lead text-center">Kollywood</p>
                            <p class="lead" >Top 10 Kollywood movies of all time</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
