<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% include 'bootstrap.html' %}
    {% include 'nav.html' %}
    {% include 'style.css' %}
</head>
<body class="container">
    {% include 'corousel.html' %}
    <div class="container">
        {% include 'faetured.html' %}
        <div>
            <h2 class="upgrade-item space-before lead mt-4 mb-4" style="color: yellow; font-size: 32px;">
                <b> What to watch </b>
            </h2>
            <div class="upgrade-item">
                <a class="space-before" style="font-size: 24px; color: white; text-decoration: none;" href="#">Top picks ></a>
            </div>
            <p class="mt-3" style="font-size: 16px; color: bisque;">TV shows and movies just for you</p>
            {% include 'toppicks.html' %}
        </div>
        <div id="watchlist">
            <h2  class="lead mt-4 mb-2" style="color: yellow;">
                <div class="upgrade-item">
                    <a class="space-before" style="font-size: 24px; color: white; text-decoration: none;" href="#">From your watchlist ></a>
                </div>
            </h2>
          
            <div class="space-befores">
                {% if watchlist %}
                    <div class="scroll-container">
                        {% set unique_movies = [] %}
                        {% for movie in allmovies %}
                            {% for item in watchlist %}
                                {% if item.movie_name == movie.movie_name and movie.movie_name not in unique_movies %}
                                    {% set _ = unique_movies.append(movie.movie_name) %}
                                    <div class="card card-custom lead">
                                        <img class="card-img-top" src="{{movie.link}}" alt="Movie image">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color: yellow;">{{ movie.movie_name }}</h5>
                                            <p class="card-text">
                                                Year: {{ movie.year }}<br>
                                                Genre: {{ movie.genre }}<br>
                                                Cast: {{ movie.cast }}<br>
                                                Rating: {{ movie.Rating }}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="upgrade-items mt-4 row text-white p-4 rounded-lg shadow mb-3">
                        <h2 class="mt-4 text-center lead">Your watchlist is empty</h2>
                        <h2 class="mt-1 mb-4 text-center lead">Save shows and movies to keep track of what you want to watch.</h2>
                        <div class="text-center">
                            <a class="btn btn-warning text-center" href="#search">+ Add movies +</a>
                        <div class="text-center lead">
              {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class="flash">
                          {% for message in messages %}
                            <li>{{ message }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
            

            
        </div>

       


    <div class="container mb-4">
        <h2 class="lead mt-4 mb-2" style="color: yellow;">
            <div class="upgrade-item">
                <a class="space-before" style="font-size: 24px; color: white; text-decoration: none;"
                 href="#">More to watch</a>
            </div>
        </h2>
        <p class="lead" style="font-size: 16px; color: antiquewhite;">Movie-Pro helps you select the 
            perfect next show or movie to watch.</p>
            <div class="mb-4">
            <a href="" class="btn btn-outline-warning mt-2">Watch Guide</a>
            <a href="" class="space-before btn btn-outline-warning mt-2">Most Popular</a>
            </div>
    </div>

        <div>
            <h2 class="lead mt-4 mb-2" style="color: yellow;">
                <div class="upgrade-item">
                    <a class="space-before" style="font-size: 24px; color: white; text-decoration: none;" href="#">This week's top movies ></a>
                </div>
            </h2>
            <div class="scroll-container">
                {% for movie in ultratop %}

                <div class="card card-custom lead">
                    <img class="card-img-top" src="{{movie.link}}" alt="Movie image">
                    <div class="card-body">
                        <h5 class="card-title" style="color: yellow;">{{ movie.movie_name }}</h5>
                        <p class="card-text">
                            Year: {{ movie.year }}<br>
                            Genre: {{ movie.genre }}<br>
                            Cast: {{ movie.cast }}<br>
                            Rating: {{ movie.Rating }}
                        </p>
                        <div class="text-center">
                            <form action="{{ url_for('submit_movie') }}" method="post">
                                <input type="hidden" name="movie_name" value="{{ movie.movie_name }}">
                                <button type="submit" class="btn btn-warning">+ Add to watchlist +</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
     {% include 'moretowatch.html' %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
