<div class="container mb-4">
    <h2 class="lead mt-4 mb-2" style="color: yellow;">
        <div class="upgrade-item">
            <a class="space-before" style="font-size: 24px; color: white; text-decoration: none;"
             href="#">More to watch</a>
        </div>
    </h2>
    <p class="lead" style="font-size: 16px; color: antiquewhite;">Movie-Pro helps you select the 
        perfect next show or movie to watch.</p>
        <div class="mb-4">
        <a href="" class="btn btn-outline-warning mt-2">Watch Guide</a>
        <a href="" class="space-before btn btn-outline-warning mt-2">Most Popular</a>
        </div>
</div>

<div class="container mt-4 mb-4">
    <div class="mt-4">
        <h2 class="upgrade-itemd space-before lead" style="font-size: 28px; color: yellow;">
            Exclusive videos
        </h2>
        <h2 class="lead mt-3 mb-2" style="color: yellow;">
            <div class="upgrade-item">
                <a class="space-before" style="font-size: 22px; color: white; text-decoration: none;"
                 href="#">Movie-Pro's Originals </a>
            </div>
        </h2>
        <p class="lead" style="font-size: 16px; color: antiquewhite;">Celebrity interviews, trending entertainment stories, and expert analysis</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wpf5ga_nu3A?si=GjeHuR5KDpS37caT" allowfullscreen></iframe>
              </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/iCqUJjgJyyE?si=pYbyd3atF6Eai5Rz" allowfullscreen></iframe>
              </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/YN2H_sKcmGw?si=NB7jjOCpudxQ2XLW" allowfullscreen></iframe>
              </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/tqColK1SWTU?si=qXPLeQWqRAdfa3Kl" allowfullscreen></iframe>
              </div>
        </div>

    </div>

</div>