<style>
        .upgrade-item {
            border-left: 4px solid #ccc;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border-color: yellow;
        }
        .upgrade-items {
            border-left: 10px solid #ccc;
            border-color:red;
            
        }
        body {
            background-color: black !important;
            margin-top: 80px !important;
            color: white !important;
        }
        .carousel-container {
            width: 90%;
            margin: auto;
            color: black !important;
        }
        .space-before {
            padding-left: 15px;
        }
        .space-before2 {
            padding-left: 80px;
        }
        .card-body {
            color: black !important;
            background-color: black;
            max-width: 100%;
        }
        .card-text {
            color: white;
            white-space: normal;
        }
        #aid {
            text-decoration: none;
            color: white;
            
            margin-bottom: 3px;
        }
        .card-custom {
            width: 18rem;
            margin-right: 15px;
            flex: 0 0 auto;
            transition: transform 0.3s ease-in-out;
        }
        .card-custom img {
            height: 10rem;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
        .card-custom:hover img {
            transform: scale(1.1);
        }
        .card-custom .card-body {
            background-color: black;
        }
        .card-custom .lead {
            font-size: 20px;
            color: white;
        }
        .scroll-container {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            padding: 15px 0;
        }
        .scroll-container::-webkit-scrollbar {
            display: none;
        }
   </style>