
    <div class="scroll-container">
        {% for movie in ultratop %}
        <div class="card card-custom lead">
            <img class="card-img-top" src="https://media.istockphoto.com/id/1372681569/photo/hands-holding-a-film-slate-directing-a-movie-scene.jpg?s=612x612&w=0&k=20&c=9BdhPvpFLgmzGF44AUwZUKaQW4Q3tclAUcE3Zvac8IY=" alt="Movie image">
            <div class="card-body">
                <h5 class="card-title" style="color: yellow;">{{ movie.movie_name }}</h5>
                <p class="card-text">
                    Year: {{ movie.year }}<br>
                    Genre: {{ movie.genre }}<br>
                    Cast: {{ movie.cast }}<br>
                    Rating: {{ movie.Rating }}
                </p>
                <div class="text-center">
                    <a href="#" class="btn btn-warning">Add to watchlist</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

