<div class="scroll-container">
    {% for movie in top_picks %}
    <div class="card card-custom lead">
        <img class="card-img-top" src="{{ movie.link }}" alt="Movie image">
        <div class="card-body">
            <h5 class="card-title" style="color: yellow;">{{ movie.movie_name }}</h5>
            <p class="card-text">
                Year: {{ movie.year }}<br>
                Genre: {{ movie.genre }}<br>
                Cast: {{ movie.cast }}<br>
                Rating: {{ movie.Rating }}
            </p>
            <div class="text-center">
                <a href="#" class="btn btn-warning">Add to watchlist</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>